<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gcef.Data.DataEngine" version="2.0.186" targetFramework="net472" />
  <package id="Gcef.Data.ExpressionInfo" version="2.0.186" targetFramework="net472" />
  <package id="Gcef.Data.VBFunctionLib" version="2.0.186" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports" version="14.2.20540" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Chart" version="14.2.20540" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Core.DataProviders" version="1.6.6" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gc" version="1.8.3" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gdi" version="1.8.3" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Core.Export.Pdf.Page" version="1.8.3" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Core.Rdl" version="1.8.3" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Core.Rendering" version="1.8.3" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Document" version="14.2.20540" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Export.Pdf" version="14.2.20540" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Export.Rdf" version="14.2.20540" targetFramework="net472" />
  <package id="Grapecity.DataVisualization" version="0.1.248" targetFramework="net472" />
  <package id="GrapeCity.Documents.Common" version="3.2.0.556" targetFramework="net472" />
  <package id="GrapeCity.Documents.Common.Windows" version="3.2.0.556" targetFramework="net472" />
  <package id="GrapeCity.Documents.DX.Windows" version="3.2.0.556" targetFramework="net472" />
  <package id="GrapeCity.Documents.Imaging" version="3.2.0.556" targetFramework="net472" />
  <package id="GrapeCity.Documents.Pdf" version="3.2.0.556" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.8" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>